.logo{


    display: flex;

    justify-content: start;
 

}




#menu{



    display: flex;


    justify-content: center;


     
}




.search{



    display: flex;

    justify-content: end;


   
}