#hello{

     border: 1.5px solid rgb(205, 20, 20); background-color: chartreuse;
       
       padding: 7px; color: rgb(196, 255, 208); background-color: brown;

     margin: 140px; color: rgb(49, 0, 174); background-color: aquamarine;

}