#CL16{



    display: inline;

    background-color: red;

}


#FA{


   display: inline;
   

   background-color: green;
}



#LH44{

    display: inline;
    
    background-color: silver;

}


#NOONE{

    display: inline;

    background-color: red;


}